services:
  app:
    build: .
    working_dir: /home/app
    ports:
      - '3000:3000'
    volumes:
      - .:/home/app
      - /home/app/node_modules
      - /home/app/.next
    environment:
      - UNOPTIMIZED=true
    tty: true
    stdin_open: true
