body {
    color: white;
}

thead, tbody {
    color: black !important;
    border: 1px solid white !important;
}

table {
    border: 1px solid white !important;
}

blockquote {
    color: white !important;
}
